<h1>Register</h1>
<form action="/doctors/createDoctor" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" placeholder="Confirm Password" name="cnfpassword" required>
    <button type="submit">Register</button>
</form> 